body {
  background: linear-gradient(135deg, #c7c7c755 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(225deg, #e4e4e4 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(315deg, #c7c7c755 25%, transparent 25%) 0px 0/ 50px 50px, linear-gradient(45deg, #e2e2e2 25%, #ececec 25%) 0px 0/ 50px 50px;
  color: rgb(41, 41, 41);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1,h2{
  font-weight: lighter;
  font-family: "Koulen";
}

.card-container{
  display: grid;
  grid-template-columns: repeat(1,auto);
  grid-template-rows: repeat(4,auto);
  gap: 5em;
  padding: 2em;
}

/* MAGASIN RESPONSIVE */
@media (min-width: 620px) {
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    gap: 5em;
    padding: 2em;
  }
}

@media (min-width: 1250px) {
  .card-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
    gap: 5em;
    padding: 2em;
  }
}

.card{
  position: relative;
  /*width: min-content;*/
  padding: 1em;
  background-color: rgb(241, 241, 241);
  border: 1px solid gray;
}

.card h1{
  font-size: 1.5em;
  font-style: normal;
  font-weight: lighter;
}

.card img{
  width: 200px;
}

.card p{
  color: darkgray;
  margin-bottom: 3em;
}

.card button{
  position: absolute;
  bottom: 3%;
  right: 5%;
  background-color: lightgreen;
}

button {
  border: none;
  box-shadow: 4px 4px black;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em;
  transition: 0.2s ease;
}

button:hover {
  box-shadow: 0px 0px black;
  transition: 0.2s ease;
}
