/* CSS */

body {
  background: linear-gradient(135deg, #c7c7c755 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(225deg, #e4e4e4 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(315deg, #c7c7c755 25%, transparent 25%) 0px 0/ 50px 50px, linear-gradient(45deg, #e2e2e2 25%, #ececec 25%) 0px 0/ 50px 50px;
  color: rgb(41, 41, 41);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titre{
  width: 100%;
  text-align: center;
}

.generateur{
  min-height:650px;
  position: relative;
}
.input, .plateau, .json{
  margin-left: 5%;
  margin-right: 5%;
}

.plateau{
  display: flex;
  flex-wrap: wrap;
}

p.perso:hover{
  cursor: pointer;
}

.perso {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.Personnage{
  height:10em;
  width:8em;
  margin-right:1em;
  margin-bottom: 2em;
  border: 5px rgb(41, 41, 41) solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position:relative;
}

.Personnage p {
  position: absolute;
  bottom: -20%;
  font-size: 20px;
  width: 7em;
  margin: 0;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup{
  
  left:45%;
  top:8%;
  position: absolute;
  display: flex;

  flex-direction: column;
  align-items:flex-end;
  border : 4px rgb(41, 41, 41) solid;
  border-radius: 5px;
  background-color:rgb(218, 218, 218);
  padding: 1em;
}

.elements_popup{
  margin:5px;
  min-width: 5em;
  
}

#main {
  /*position: absolute;*/
  /*top: 0%;*/
  /*left: 0%;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
}


#main h1 {
  font-family: "Koulen", "Comfortaa";
}

button, input[type="button"] {
  border: none;
  box-shadow: 4px 4px black;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em;
  transition: 0.2s ease;
}

button:hover {
  box-shadow: 0px 0px black;
  transition: 0.2s ease;
}

input[type="text"]:focus, input[type="number"]:focus {
  box-shadow: 0px 0px black;
  transition: 0.2s ease;
  outline: none;
}

input[type="text"], input[type="number"] {
  border: none;
  box-shadow: 4px 4px black;
  font-size: 1em;
  padding: 0.5em;
}

input[type="radio"] {
  margin: 0.3em;
}

select {
  border: none;
  background-color: white;
  box-shadow: 4px 4px black;
  font-size: 1em;
  padding: 0.5em;
}

.spacer {
  margin: 0.5em;
}

.bg-info {
  background-color: rgb(138, 222, 248);
}

.bg-alert {
  background-color: rgb(247, 125, 125);
}

.bg-warning {
  background-color: rgb(255, 232, 129);
}


#plateau-container {
  grid-column-start: 1;
  grid-column-end: 8;
  height: 100vh;
  /* background-color: plum; */
}


titre{
  width: 100%;
  text-align: center;
}

#home-icon,
#home-icon:visited {
  position: absolute;
  color: black;
  margin: 0.5em;
}

.text-red {
  color: red;
}

code.prettyprint, pre.prettyprint{
  background-color: #252525;
  border-radius: 0.5em;
  width: 100%;
}
